In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import ydata_profiling
import sweetviz
import autoviz

c:\Users\Arpit Kadam\Desktop\Insurance-Fraud-Detection\venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Imported v0.1.905. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)

In [2]:
pwd

'c:\\Users\\Arpit Kadam\\Desktop\\Insurance-Fraud-Detection\\research\\Automated-EDA'

In [7]:
from ydata_profiling import ProfileReport

In [8]:
df = pd.read_csv('Balanced_Data.csv')
df.head()

,months_as_customer,age,policy_number,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,fraud_reported,loss_ratio,profitability,vehicle_age,age_group,Parked Car,Single Vehicle Collision,Vehicle Theft,Rear Collision,Side Collision,Fire,Other,Police,Minor Damage,Total Loss,Trivial Damage,250/500,500/1000,incident_year,incident_month,incident_day,policy_bind_year,policy_bind_month,policy_bind_day
0,125,35,442795,0,500,1054.83,7000000,446788,0,3,12,6,0,0,-51300,1,3,842,17,1,1,2,3,0,88660,8060,16120,64480,8,7,1,7.004288,-76002.04,18,1,0,1,0,0,0,1,0,0,0,1,0,0,1,2015,2,25,1996,7,7
1,123,28,137675,1,2000,1836.02,0,470559,0,5,13,12,3,38000,-41200,0,5,371,5,1,0,2,1,1,79800,13300,6650,59850,13,28,1,3.621965,-57767.76,14,1,0,1,0,0,1,0,0,0,0,0,0,0,0,2015,1,1,2012,12,3
2,136,32,686522,2,500,1169.62,0,458143,1,3,11,19,1,0,0,4,0,787,6,1,1,0,0,0,55000,10000,10000,35000,12,9,1,3.918652,-40964.56,17,1,0,1,0,0,1,0,0,1,0,0,0,0,0,2015,2,4,2000,12,27
3,203,38,155724,1,500,1394.43,0,606352,1,5,7,16,1,0,0,5,1,458,7,1,0,0,1,1,55440,0,6160,49280,9,26,1,3.313182,-38706.84,26,2,0,1,0,0,0,0,0,0,0,0,0,1,0,2015,1,31,1998,2,20
4,43,38,149467,0,1000,1601.47,0,465764,0,6,5,16,2,64400,0,4,1,207,1,3,1,2,2,0,61650,6850,6850,47950,9,35,0,3.207990,-42432.36,19,2,0,0,0,0,0,0,1,0,0,1,0,0,1,2015,2,15,2014,3,11

In [9]:
profile = ProfileReport(df, title='Ydata Profiling Report', explorative=True)

In [10]:
profile.to_file('Ydata_Profiling_Report.html')

Summarize dataset: 100%|██████████| 904/904 [04:19<00:00,  3.48it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:28<00:00, 28.48s/it]
Render HTML: 100%|██████████| 1/1 [01:43<00:00, 103.18s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  1.25it/s]

In [11]:
df = pd.read_csv("Balanced_Data.csv")
df.head()

,months_as_customer,age,policy_number,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,fraud_reported,loss_ratio,profitability,vehicle_age,age_group,Parked Car,Single Vehicle Collision,Vehicle Theft,Rear Collision,Side Collision,Fire,Other,Police,Minor Damage,Total Loss,Trivial Damage,250/500,500/1000,incident_year,incident_month,incident_day,policy_bind_year,policy_bind_month,policy_bind_day
0,125,35,442795,0,500,1054.83,7000000,446788,0,3,12,6,0,0,-51300,1,3,842,17,1,1,2,3,0,88660,8060,16120,64480,8,7,1,7.004288,-76002.04,18,1,0,1,0,0,0,1,0,0,0,1,0,0,1,2015,2,25,1996,7,7
1,123,28,137675,1,2000,1836.02,0,470559,0,5,13,12,3,38000,-41200,0,5,371,5,1,0,2,1,1,79800,13300,6650,59850,13,28,1,3.621965,-57767.76,14,1,0,1,0,0,1,0,0,0,0,0,0,0,0,2015,1,1,2012,12,3
2,136,32,686522,2,500,1169.62,0,458143,1,3,11,19,1,0,0,4,0,787,6,1,1,0,0,0,55000,10000,10000,35000,12,9,1,3.918652,-40964.56,17,1,0,1,0,0,1,0,0,1,0,0,0,0,0,2015,2,4,2000,12,27
3,203,38,155724,1,500,1394.43,0,606352,1,5,7,16,1,0,0,5,1,458,7,1,0,0,1,1,55440,0,6160,49280,9,26,1,3.313182,-38706.84,26,2,0,1,0,0,0,0,0,0,0,0,0,1,0,2015,1,31,1998,2,20
4,43,38,149467,0,1000,1601.47,0,465764,0,6,5,16,2,64400,0,4,1,207,1,3,1,2,2,0,61650,6850,6850,47950,9,35,0,3.207990,-42432.36,19,2,0,0,0,0,0,0,1,0,0,1,0,0,1,2015,2,15,2014,3,11

In [12]:
import sweetviz as sv

In [13]:
report = sv.analyze(df)

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:12 -> (00:00 left)

In [14]:
report.show_html('Sweetviz_Report.html')

Report Sweetviz_Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [18]:
from autoviz.AutoViz_Class import AutoViz_Class

In [19]:
df = pd.read_csv("Balanced_Data.csv")
df.head()

,months_as_customer,age,policy_number,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,fraud_reported,loss_ratio,profitability,vehicle_age,age_group,Parked Car,Single Vehicle Collision,Vehicle Theft,Rear Collision,Side Collision,Fire,Other,Police,Minor Damage,Total Loss,Trivial Damage,250/500,500/1000,incident_year,incident_month,incident_day,policy_bind_year,policy_bind_month,policy_bind_day
0,125,35,442795,0,500,1054.83,7000000,446788,0,3,12,6,0,0,-51300,1,3,842,17,1,1,2,3,0,88660,8060,16120,64480,8,7,1,7.004288,-76002.04,18,1,0,1,0,0,0,1,0,0,0,1,0,0,1,2015,2,25,1996,7,7
1,123,28,137675,1,2000,1836.02,0,470559,0,5,13,12,3,38000,-41200,0,5,371,5,1,0,2,1,1,79800,13300,6650,59850,13,28,1,3.621965,-57767.76,14,1,0,1,0,0,1,0,0,0,0,0,0,0,0,2015,1,1,2012,12,3
2,136,32,686522,2,500,1169.62,0,458143,1,3,11,19,1,0,0,4,0,787,6,1,1,0,0,0,55000,10000,10000,35000,12,9,1,3.918652,-40964.56,17,1,0,1,0,0,1,0,0,1,0,0,0,0,0,2015,2,4,2000,12,27
3,203,38,155724,1,500,1394.43,0,606352,1,5,7,16,1,0,0,5,1,458,7,1,0,0,1,1,55440,0,6160,49280,9,26,1,3.313182,-38706.84,26,2,0,1,0,0,0,0,0,0,0,0,0,1,0,2015,1,31,1998,2,20
4,43,38,149467,0,1000,1601.47,0,465764,0,6,5,16,2,64400,0,4,1,207,1,3,1,2,2,0,61650,6850,6850,47950,9,35,0,3.207990,-42432.36,19,2,0,0,0,0,0,0,1,0,0,1,0,0,1,2015,2,15,2014,3,11

In [20]:
autoviz = AutoViz_Class().AutoViz(df)

Shape of your Data Set loaded: (1000, 54)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  3
    Number of Integer-Categorical Columns =  32
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  17
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  1
    Number of ID Columns =  0
    Number of Columns to Delete =  1
    54 Predictors classified...
        1 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['incident_year']
3 numeric variables in data exceeds limit, taking top 30 variables
    List of variables selected: ['policy_annual_premium', 'loss_ratio', 'profitability']
   Total columns > 30, too numerous to print.
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 293 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Number of All Scatter Plots = 6
All Plots done
Time to run AutoViz = 34 seconds

 ###################### AUTO VISUALIZATION Completed ########################